/*CSS fra React*/
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*Starten på egen CSS*/

/*Knapp*/
.button{
  width: 100%;
  max-width: 218px;

}

/* Søke felt */
.search{
  text-align: center;
  
  form{
    display: flex;
    flex-direction: column;

    gap: 0.2rem;

    input{
      width: 100%;
      max-width: 218px;
    }

    .button{
      align-self: center;
    }
  }
}

/* Hjem logo */
/* Ikke en ideel eller vakker løsning, er bare der til å kunne enkelt komme tilbake uten å bruke pil i nettleser */
.home-logo{
  font-size: 2rem;
}

/* Hjemmeside/Filmkort/Søkeresultat */
#home {
  section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    article{
      width: 200px;
      margin: 1rem;
      border: solid black 3px;
      background-color: white;
      color: black;
      padding: 0.5rem;

      align-items: center;

      img{
        max-width: 200px;
        max-height: 300px;
      }
    }
  }
}

/* Filmside/Info om film */
.details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  padding: .5rem;

  h1{
    width: 100%;
    text-align: center;
  }

  img{
    max-width: 500px;
  }
}
/* Utdypet info om film */
.more-info{
  padding: .5rem;
  margin: .2rem;

  width: 800px;

  background-color: white;
  color: black;
  border: solid black 2px;
}

/* Jeg synes nesting er veldig kult, skulle kanksje brukt SASS for en mer modulær struktur, men det var ikke spesifisert i oppgaven */
